<%=link_to 'tambah data', new_employee_path %>
<br/>

<table border='1'>
	<thead>
	<tr>
	<td>employee_id</td>
	<td>position_id</td>
	<td>email</td>
	<td>fullname</td>
	<td>address</td>
	<td>birthdate</td>
	<td>joindate</td>
	<td>phone</td>
	<td>mobile</td>
	<td>employee_type_id</td>
	<td>sales_group_id</td>
	</tr>

	</thead>
	<tbody>
		<% if @employees.count == 0 %>
		<tr>
			<td colspan=4>tidak ada data yang terdaftar</td>
		</tr>

		<%else%>
		<% @employees.each do |employee| %>
		<tr>
			<td><%= employee.employee_id %></td>
			<td><%= employee.position_id %></td>
			<td><%= employee.email %> </td>
			<td><%= employee.fullname %> </td>
			<td><%= employee.address %></td>
			<td><%= employee.birthdate %></td>
			<td><%= employee.joindate %></td>
			<td><%= employee.phone %></td>
			<td><%= employee.mobile %></td>
			<td><%= employee.employee_type_id %></td>
			<td><%= employee.sales_group_id %></td>
			
			<td><%= link_to 'edit', edit_employee_path(employee.id)%></td><td>|<%=link_to 'delete',employee_path(employee.id),method: 'delete'%></td>
			</tr>
				
			<%end%>
		<%end%>	
	</tbody>