<%= form_for @employee do |f| %>
<%= f.label :employee_id %>
<%= f.text_field :employee_id %>
</br>
<%= f.label :position_id %>
<%= f.text_field :position_id %>
</br>
<%= f.label :email %>
<%= f.text_field :email %>
</br>
<%= f.label :fullname %>
<%= f.text_field :fullname %>
</br>
<%= f.label :address %>
<%= f.text_field :address %>
</br>
<%= f.label :birthdate %>
<%= f.text_field :birthdate %>
</br>
<%= f.label :joindate %>
<%= f.text_field :joindate %>
</br>
<%= f.label :phone %>
<%= f.text_field :phone %>
</br>
<%= f.label :mobile %>
<%= f.text_field :mobile %>
</br>
<%= f.label :employee_type_id %>
<%= f.text_field :employee_type_id %>
</br>
<%= f.label :sales_group_id %>
<%= f.text_field :sales_group_id %>
</br>


<%= f.submit %>
<% end %>