<%=link_to 'tambah data', new_position_path %>
<br/>

<table border='1'>
	<thead>
	<tr>
	<td>position_id</td>
	<td>description</td>
	<td>code</td>
	
	</tr>

	</thead>
	<tbody>
		<% if @positions.count == 0 %>
		<tr>
			<td colspan=4>tidak ada data yang terdaftar</td>
		</tr>

		<%else%>
		<% @positions.each do |position| %>
		<tr>
			<td><%= position.position_id %></td>
			<td><%= position.description %></td>
			<td><%= position.code %> </td>
			
			<td><%= link_to 'edit', edit_position_path(position.id)%></td><td>|<%=link_to 'delete',position_path(position.id),method: 'delete'%></td>
			</tr>
				
			<%end%>
		<%end%>	
	</tbody>