<%= form_for @positions do |f| %>

<%= f.label :position_id %>
<%= f.text_field :position_id %>
</br>
<%= f.label :description %>
<%= f.text_field :description %>
</br>
<%= f.label :code %>
<%= f.text_field :code %>
</br>



<%= f.submit %>
<% end %>