<%=link_to 'tambah data', new_sales_group_path %>
<br/>

<table border='1'>
	<thead>
	<tr>
	<td>sales_group_id</td>
	<td>sales_group_name</td>
	<td>sales_group_manager</td>
	<td>code</td>
	
	</tr>

	</thead>
	<tbody>
		<% if @sales_groups.count == 0 %>
		<tr>
			<td colspan=4>tidak ada data yang terdaftar</td>
		</tr>

		<%else%>
		<% @sales_groups.each do |sales_group| %>
		<tr>
			<td><%= sales_group.sales_group_id %></td>
			<td><%= sales_group.sales_group_name %></td>
			<td><%= sales_group.sales_group_manager %> </td>
			<td><%= sales_group.code %> </td>
			
			
			<td><%= link_to 'edit', edit_sales_group_path(sales_group.id)%></td><td>|<%=link_to 'delete',sales_group_path(sales_group.id),method: 'delete'%></td>
			</tr>
				
			<%end%>
		<%end%>	
	</tbody>