<%= form_for @employee do |f| %>

<%= f.label :sales_group_id %>
<%= f.text_field :sales_group_id %>
</br>
<%= f.label :sales_group_name %>
<%= f.text_field :sales_group_name %>
</br>
<%= f.label :sales_group_manager %>
<%= f.text_field :sales_group_manager %>
</br>
<%= f.label :code %>
<%= f.text_field :code %>
</br>


<%= f.submit %>
<% end %>