<%=link_to 'tambah data', new_user_path %>
<br/>

<table border='1'>
	<thead>
	<tr>
	<td>username</td>
	<td>email</td>
	<td>password</td>
	<td>password confirmation</td>
	<td>action<td>
	</tr>

	</thead>
	<tbody>
		<% if @users.count == 0 %>
		<tr>
			<td colspan=4>tidak ada data yang terdaftar</td>
		</tr>

		<%else%>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.username %></td>
			<td><%= user.email %></td>
			<td><%= user.password %> </td>
			<td><%= user.password_confirmation %> </td>
			<td><%= link_to 'edit', edit_user_path(user.id)%></td><td>|<%=link_to 'delete',user_path(user.id),method: 'delete'%></td>
			</tr>
				
			<%end%>
		<%end%>	
	</tbody>