<%= form_for @employee do |f| %>


<%= f.label :employee_type_id %>
<%= f.text_field :employee_type_id %>
</br>
<%= f.label :code %>
<%= f.text_field :code %>
</br>
<%= f.label :employee_type_name %>
<%= f.text_field :employee_type_name %>
</br>


<%= f.submit %>
<% end %>