<%=link_to 'tambah data', new_employee_type_path %>
<br/>

<table border='1'>
	<thead>
	<tr>
	<td>employee_type_Type_id</td>
	<td>code</td>
	<td>employee_type_type_name</td>
	
	</tr>

	</thead>
	<tbody>
		<% if @employee_type_types.count == 0 %>
		<tr>
			<td colspan=4>tidak ada data yang terdaftar</td>
		</tr>

		<%else%>
		<% @employee_type_types.each do |employee_type| %>
		<tr>
			<td><%= employee_type.employee_type_id %></td>
			<td><%= employee_type.position_id %></td>
			<td><%= employee_type.email %> </td>
			<td><%= employee_type.fullname %> </td>
			<td><%= employee_type.address %></td>
			<td><%= employee_type.birthdate %></td>
			<td><%= employee_type.joindate %></td>
			<td><%= employee_type.phone %></td>
			<td><%= employee_type.mobile %></td>
			<td><%= employee_type.employee_type_type_id %></td>
			<td><%= employee_type.sales_group_id %></td>
			
			<td><%= link_to 'edit', edit_employee_type_path(employee_type.id)%></td><td>|<%=link_to 'delete',employee_type_path(employee_type.id),method: 'delete'%></td>
			</tr>
				
			<%end%>
		<%end%>	
	</tbody>